<ion-view view-title="Beranda">
  <ion-content>
    	
    <div class="list">
    <a class="item item-thumbnail-left" href="#/app/profil"><img src="/img/adam.jpg">
    	<h2>Nama Orang Un Named</h2>
    		<p>
    			<i class="icon ion-navigate">&nbsp Mangkunegaran SOLO</i>
			</p>
		</a>
    </div>

	<div class="list list-inset">
		<label class="item item-input">
	    	<i class="icon ion-search placeholder-icon"></i>
	    	<input type="text" placeholder="Cari Makanan Pre Order">
		</label>
	</div>

	<div class="card">
		<div class="item item-divider">
	    	Kripik Goreng 1
		</div>
		<a href="#/app/item-detail"> <img src="/img/food1.jpg"></a>
	</div>

	<div class="card">
		<div class="item item-divider">
	    	Kripik Goreng 2
		</div>
		<a href="#/app/item-detail"> <img src="/img/food2.jpg"></a>
	</div>

	<div class="card">
		<div class="item item-divider">
	    	Kripik Goreng 3
		</div>
		<a href="#/app/item-detail"> <img src="/img/food3.jpg"></a>
	</div>

	<div class="card">
		<div class="item item-divider">
	    	Kripik Goreng 4
		</div>
		<a href="#/app/item-detail"> <img src="/img/food4.jpg"></a>
	</div>

	<button class="button button-block button-assertive">
		Daftarkan Toko
	</button>

  </ion-content>
</ion-view>

