<ion-view view-title="Pesanan">
  	<ion-content>

	<div class="col"><img src="/img/food1.jpg"></div>

	<div class="item item-divider item-assertive">
	    Menu
	</div>

		<div class="row responsive-sm">
			<div class="col">
				<ion-list>

				  	<div class="list">
						<label class="item item-input item-select">
						    <div class="input-label">Lightsaber</div>
						    <select>
							    <option>Blue</option>
						    	<option selected>Green</option>
						    	<option>Red</option>
						    </select>
						</label>
						<label class="item item-input">
						   	<input type="text" placeholder="Jumlah">
						</label>
					</div>

				  	<div class="list">
						<label class="item item-input item-select">
						    <div class="input-label">Lightsaber</div>
						    <select>
							    <option>Blue</option>
						    	<option selected>Green</option>
						    	<option>Red</option>
						    </select>
						</label>
						<label class="item item-input">
						   	<input type="text" placeholder="Jumlah">
						</label>
					</div>

				  	<div class="list">
						<label class="item item-input item-select">
						    <div class="input-label">Lightsaber</div>
						    <select>
							    <option>Blue</option>
						    	<option selected>Green</option>
						    	<option>Red</option>
						    </select>
						</label>
						<label class="item item-input">
						   	<input type="text" placeholder="Jumlah">
						</label>
					</div>

				</ion-list>
			</div>
		</div>

	<div class="item item-divider item-assertive">
	    Pengiriman
	</div>

		<div class="row responsive-sm">
			<div class="col">
				<ion-list>

				  	<div class="list">
						<label class="item item-input item-select">
						    <div class="input-label">Lightsaber</div>
						    <select>
							    <option>Blue</option>
						    	<option selected>Green</option>
						    	<option>Red</option>
						    </select>
						</label>
					</div>

				</ion-list>
			</div>
		</div>

	<div class="item item-divider item-assertive">
	    Rincian Biaya
	</div>

		<div class="row">
			<div class="col col-50">Harga</div>
			<div class="col"></div>
			<div class="col">Rp 25.000,-</div>
		</div>

		<div class="row">
			<div class="col col-50">Pengiriman</div>
			<div class="col"></div>
			<div class="col">Rp 9.000,-</div>
		</div>

		<div class="row">
			<div class="col col-50"><h4><b>Total</b></h4></div>
			<div class="col"><h4><b>Rp 34.000,-</b></h4></div>
		</div>

		<a href="#/app/pesanan-sukses" class="subdued"><button class="button button-block button-assertive">Checkout
		</button></a>

    </ion-content>
</ion-view>

