<ion-view view-title="Profil">
  <ion-content>
    <div class="item item-image">
    <img src="img/adam.jpg">
    </div>

    <div class="item item-divider item-assertive">
      Rincian Akun
    </div>

    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        No Name
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        example@stundent.uns.ac.id
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i>
        0881812182982109
        <i class="icon ion-ios-telephone-outline"></i>
        <span class="item-note">
          Press to call
        </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </a>

    </div>

  </ion-content>
</ion-view>